.button {
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 18px 50px;
    min-height: 56px;

    font-size: 14px;
    text-align: center;
    color: $color-text-primary;

    border: 1px solid $secondary-color;
    background-color: $white;
    border-radius: 4px;

    transition: color .25s ease, background-color .25s ease;

    &:hover, &:focus {
        background-color: $secondary-color;
        color: $white;
    }
}