.footer {
    margin-top: auto;
    background: $bg-footer;
    padding: 40px 0 52px;

    @include below($breakpoint-md) {
        padding: 20px 0 32px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;

        color: $color-text-accent;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    &__nav-item {
        margin: 0 12px 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__nav-link {
        font-size: 16px;
        text-transform: uppercase;

        @include below($breakpoint-md) {
            font-size: 14px;
        }
    }

    &__socials-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__socials-item {
        margin: 10px 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px;
        min-width: 50px;
        min-height: 50px;

        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;

        transition: background-color .3s ease;

        &:hover, &:focus {
            background-color: $primary-color;
        }
    }

    &__socials-icon {
        &--fb {
            width: 16px;
            height: 31px;
        }

        &--tw {
            width: 30px;
            height: 25px;
        }

        &--inst {
            width: 32px;
            height: 32px;
        }
    }

    &__copyright {
        margin-top: 18px;
        font-size: 15px;
        font-weight: 700;
    }
}