.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    width: 100%;
    align-self: center;
    padding: 24px 0;

    &__box {
        display: flex;
        align-items: center;
    }

    &__logo {
        max-width: 250px;
        margin-right: 60px;
        flex-shrink: 0;

        @include below($breakpoint-sm) {
            margin-right: 30px;
            max-width: 200px;
        }
    }

    &__menu {
        width: 100%;

        transition: right .25s ease;

        @include below($breakpoint-lg) {
            position: fixed;
            top: 0;
            right: -300px;

            width: 300px;
            height: 100vh;
            padding: 20px;

            background-color: $white;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
            overflow-y: auto;
        }
    }

    &__menu.is-active {
        @include below($breakpoint-lg) {
            right: 0;
        }
    }

    &__menu-row {
        display: none;

        @include below($breakpoint-lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
        }
    }

    &__menu-text {
        margin-bottom: 0;
    }

    &__close-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
    }

    &__close-icon {
        width: 100%;
        height: 100%;
        fill: $black;
    }

    &__close-btn:hover &__close-icon {
        fill: $error;
    }

    &__close-btn:focus &__close-icon {
        fill: $error;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        color: $color-text-accent;

        @include below($breakpoint-lg) {
            flex-direction: column;
            align-items: stretch;

            color: $color-text-primary;
        }
    }

    &__burger-btn {
        display: none;
        width: 50px;
        height: 30px;

        @include below($breakpoint-lg) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            margin-left: auto;
        }
    }

    &__burger-icon {
        width: 100%;
        height: 100%;

        fill: $white;
    }

    &__burger-btn:focus &__burger-icon {
        fill: $secondary-color;
    }

    &__main-nav-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 20px;

        @include below($breakpoint-lg) {
            flex-direction: column;
            align-items: stretch;
            margin-right: 0;
        }
    }

    &__main-nav-item {
        position: relative;

        margin: 0 30px;
        padding: 10px 0;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        @include below($breakpoint-lg) {
            margin: 0;
            padding: 0;
        }
    }

    &__main-nav-link {
        position: relative;

        display: flex;
        align-items: center;

        font-size: 16px;

        @include below($breakpoint-lg) {
            padding: 10px 0;
            border-bottom: 1px dashed rgba($black, 0.25);
        }
    }

    &__main-nav-icon {
        margin-left: 5px;

        width: 12px;
        height: 14px;

        fill: $color-text-accent;

        transition: transform .3s ease;

        @include below($breakpoint-lg) {
            display: none;
        }
    }

    &__main-nav-item:hover &__sub-nav-list {
        opacity: 1;
        visibility: visible;
    }

    &__main-nav-item:hover &__main-nav-icon {
        transform: rotate(-180deg);
    }

    &__sub-nav-list {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 2;

        display: flex;
        flex-direction: column;
        min-width: 160px;

        background-color: $white;

        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%);

        transition: opacity .3s ease-in;

        &:hover, &:focus {
            opacity: 1;
            visibility: visible;
        }

        @include below($breakpoint-lg) {
            position: static;

            transform: initial;
            visibility: visible;
            opacity: 1;
        }
    }

    &__sub-nav-link {
        display: block;
        padding: 5px 10px;
        width: 100%;

        font-size: 14px;
        text-align: center;
        color: $color-text-primary;

        @include below($breakpoint-lg) {
            padding: 10px;
            text-align: left;
        }
    }

    &__action-nav-list {
        display: flex;
        align-items: center;

        @include below($breakpoint-lg) {
            flex-direction: column;
            margin-right: 0;
            align-items: stretch;
        }
    }

    &__action-nav-item {
        margin: 0 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        @include below($breakpoint-lg) {
            margin: 0;
        }
    }

    &__action-nav-link {
        display: block;
        padding: 10px 0;
    }
}