.header {
    position: relative;
    z-index: 2;

    width: 100%;
    align-self: center;
    padding: 24px 0;

    &__box {
        display: flex;
        align-items: center;
    }

    &__logo {
        max-width: 250px;
        margin-right: 60px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        color: $color-text-accent;
    }

    &__main-nav-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 20px;
    }

    &__main-nav-item {
        position: relative;

        margin: 0 30px;
        padding: 10px 0;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__main-nav-link {
        position: relative;

        display: flex;
        align-items: center;

        font-size: 16px;
    }

    &__main-nav-icon {
        margin-left: 5px;

        width: 12px;
        height: 14px;

        fill: $color-text-accent;

        transition: transform .3s ease;
    }

    &__main-nav-item:hover &__sub-nav-list {
        opacity: 1;
        visibility: visible;
    }

    &__main-nav-item:hover &__main-nav-icon {
        transform: rotate(-180deg);
    }

    &__sub-nav-list {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 2;

        display: flex;
        flex-direction: column;
        min-width: 160px;

        background-color: $white;

        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%);

        transition: opacity .3s ease-in;

        &:hover, &:focus {
            opacity: 1;
            visibility: visible;
        }
    }

    &__sub-nav-link {
        display: block;
        padding: 5px 10px;
        width: 100%;

        font-size: 14px;
        text-align: center;
        color: $color-text-primary;
    }

    &__action-nav-list {
        display: flex;
        align-items: center;
    }

    &__action-nav-item {
        margin: 0 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}