* {
    font: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;

    background-color: $bg-primary;
    color: $color-text-primary;
}

main {
    min-height: 100vh;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: 0;
    appearance: none;
}