// Fonts

$primary-font: 'PT Sans', Arial, sans-serif;
$secondary-font: 'Open Sans', Arial, sans-serif;

// Colors

$white: #FFFFFF;

$primary-color: #1657AB;

$color-text-primary: #000000;
$color-text-accent: #FFFFFF;

$bg-primary: #E5E5E5;
$bg-footer: #19263F;

$link-hover: #FFFF00;
$link-active: #FF0000;